In [31]:
import pandas as pd

random_state = 42
df = pd.read_csv('../data/quora_duplicate_questions.tsv', sep='\t')
df.sample(5)

,id,qid1,qid2,question1,question2,is_duplicate
296844,296844,2574,18273,Where can I get wonderful flavors on cupcakes ...,Where can I found different flavours for cupca...,1
318900,318900,444293,444294,What professions became less respected in the ...,What are the benefits of Choctaws?,0
403909,403909,537527,9837,Which is the best smartphone for 10000?,Smartphones: What is the best phone to buy bel...,0
95043,95043,158600,158601,What are the best BPO in Navi Mumbai?,What is BPO in Navi Mumbai?,0
369692,369692,34223,238155,How will you know if someone is gay?,How do I know your gay?,1

In [15]:
df_cln = df[(df.question1.str.len()>60) & (df.question2.str.len()>60) & (df.question1.str.len()<268) & (df.question2.str.len()<268)].drop(columns=['qid1', 'qid2'])
df_cln

,id,question1,question2,is_duplicate
5,5,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
14,14,What are the laws to change your status from a...,What are the laws to change your status from a...,0
15,15,What would a Trump presidency mean for current...,How will a Trump presidency affect the student...,1
18,18,Why are so many Quora users posting questions ...,Why do people ask Quora questions which can be...,1
25,25,What are some tips on making it through the jo...,What are some tips on making it through the jo...,0
...,...,...,...,...
404279,404279,What is the minimum time required to build a f...,What is a cheaper and quicker way to build an ...,0
404281,404281,Why is Manaphy childish in Pokémon Ranger and ...,Why is Manaphy annoying in Pokemon ranger and ...,1
404283,404283,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0
404285,404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404288,404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0

In [29]:
import numpy as np
np.random.seed(random_state)
msk = np.random.rand(len(df_cln)) < 0.8
df_cln_train = df_cln[msk]
df_cln_test = df_cln[~msk]
print('train df shape', df_cln_train.shape)
print('test df shape', df_cln_test.shape)

df_cln_train.to_csv('../data/quora_dq_train.csv', index=False)
df_cln_test.to_csv('../data/quora_dq_test.csv', index=False)

df_cln_test[df_cln_test['is_duplicate']==1].to_csv('../data/quora_dq_test_true.csv', index=False)
df_cln_test[df_cln_test['is_duplicate']==0].to_csv('../data/quora_dq_test_false.csv', index=False)

df_cln_train.sample(100).to_csv('../data/quora_dq_train_100.csv', index=False)
df_cln_train.sample(1000).to_csv('../data/quora_dq_train_1000.csv', index=False)
df_cln_train.sample(10000).to_csv('../data/quora_dq_train_10000.csv', index=False)

train df shape (73011, 4)
test df shape (18207, 4)

In [17]:
df_cln_train.groupby('is_duplicate').count()

                 id  question1  question2
is_duplicate
0             52775      52775      52775
1             20236      20236      20236

In [18]:
df_cln.groupby('is_duplicate').count()

                 id  question1  question2
is_duplicate
0             65914      65914      65914
1             25304      25304      25304

In [19]:
df_cln[df_cln['is_duplicate']==0].question1.str.len().describe()

count    65914.000000
mean        94.698805
std         29.570032
min         61.000000
25%         72.000000
50%         86.000000
75%        110.000000
max        267.000000
Name: question1, dtype: float64

In [20]:
df_cln[df_cln['is_duplicate']==1].question1.str.len().describe()

count    25304.000000
mean        87.844293
std         23.358276
min         61.000000
25%         70.000000
50%         82.000000
75%         98.000000
max        267.000000
Name: question1, dtype: float64

In [21]:
df_cln[(df_cln.question1.str.len()<12)]

Empty DataFrame
Columns: [id, question1, question2, is_duplicate]
Index: []

In [22]:
df.iloc[0].question1

'What is the step by step guide to invest in share market in india?'

In [23]:
df.iloc[0].question2

'What is the step by step guide to invest in share market?'

In [24]:
df[df.qid1==1]

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0

In [25]:
df[df.is_duplicate==0].qid1.nunique() / df[df.is_duplicate==0].shape[0]

0.8348370956800653

In [26]:
df[df.is_duplicate==1].sample(5)

,id,qid1,qid2,question1,question2,is_duplicate
275213,275213,225999,314424,What are the most important things VCs look fo...,What do you look for in a startup before inves...,1
6559,6559,12843,12844,What is the best music album of all time?,What is the Best album ever?,1
303621,303621,105702,426780,What is cloud computing? How does it work?,What is cloud computing?,1
315800,315800,57489,10011,How can I grow a few inches taller?,In what ways can I grow taller?,1
119426,119426,193919,193920,Why do women enjoy penetration?,Why do women like to be penetrated?,1